html,
body {
  display: flex;
  flex: 1;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  background: #000;
  /* font-family: 'Sarabun', sans-serif; */
}

#__next {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  height: 100%;
  margin: 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.link:hover {
  cursor: pointer;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-1gfbdld-MuiPaper-root-MuiAccordion-root::before {
  background-color: white !important;
}

#navbar-desktop-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.58) 100%
  );
}

#index-gradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.666667) 45.07%,
    #000000 100%
  );
}
